<h1> Create Post </h1>

<form action="/workouts" method="POST">
    
<label for="media">Media</label><br>
    <input type="text" id="media" name="media"><br>
<label for="exercise_type">Exercise Type</label><br>
    <input type="text" id="exercise_type" name="exercise_type"><br>
<label for="exercise_description">Exercise Description</label><br>
    <input type="text" id="exercise_description" name="exercise_description"><br>
    <input type="submit" value="Submit">

<a href="/auth/logout">Log out</a>