<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>POST</h1>
    <ul>
        <% workoutPost.forEach(function(workout) { %>
                <li><%= workout.media %></li>
                <li><%= workout.exercise_type %></li>
                <li><%= workout.exercise_description %></li>
        <% }); %>
    </ul>
   
</body>
</html>